.button {
  position: relative;
  font-size: 1rem;
  color: var(--color-light-300);
  padding: 0.3em 0.7em 0.15em;
  margin: 0 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow-small);
  user-select: none;
  cursor: pointer;

  &.small {
    font-size: 0.8rem;
  }

  &.big {
    font-size: 1.2rem;
    padding: 0.5em 1.5em 0.25em;
  }

  &.wide {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &:disabled {
    cursor: default;
    pointer-events: none;
  }

  &.fill {
    --color-400: var(--color-dark-400);
    --color-300: var(--color-dark-300);
    --color-200: var(--color-dark-200);
    --color-100: var(--color-light-300);

    border: none;
    background: var(--color-300);
    color: var(--color-100);

    &:hover {
      background-color: var(--color-200);
    }

    &.active,
    &:active {
      background-color: var(--color-400);
    }

    // colors
    &.primary {
      --color-400: var(--color-primary-500);
      --color-300: var(--color-primary-400);
      --color-200: var(--color-primary-300);
      --color-100: var(--color-primary-100);
    }

    // disabled
    &:disabled {
      --color-300: var(--color-dark-400);
      --color-100: var(--color-dark-300);
    }
  }

  &.border {
    --color-300: var(--color-dark-300);
    --color-200: var(--color-dark-200);
    --color-100: var(--color-light-300);

    background-color: transparent;
    border: 1px solid var(--color-300);
    color: var(--color-100);

    &:hover {
      background-color: var(--color-300);
    }

    &.active,
    &:active {
      background-color: var(--color-200);
      border-color: var(--color-200);
    }

    // colors

    // disabled
    &:disabled {
      --color-300: var(--color-dark-400);
      --color-100: var(--color-dark-300);
    }
  }

  &.text {
    --color-300: var(--color-dark-200);
    --color-200: var(--color-light-200);
    --color-100: var(--color-primary-400);

    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--color-300);

    &:hover {
      color: var(--color-200);
    }

    &.active,
    &:active {
      color: var(--color-100);
    }

    // colors

    // disabled
    &:disabled {
      --color-300: var(--color-dark-400);
    }
  }
}
