.name-tag {
  display: flex;
  user-select: none;

  .profile-img {
    margin-right: 0.5rem;
  }

  .name {
    flex: 1;
    font-size: 1rem;
    padding-top: 0.25rem;
  }

  &.unassigned {
    .name {
      color: var(--color-dark-200);
    }
  }
}
