.app-header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: -0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-title);
    letter-spacing: 0.8rem;
  }
}
