.app-header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: -0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-title);
    letter-spacing: 0.8rem;
  }

  .theme-switch {
    margin-left: auto;
    margin-right: 1rem;
  }

  .user-menu {
    position: relative;

    .profile {
      cursor: pointer;
    }

    .drop-menu {
      bottom: -0.5rem;
      left: 100%;
      transform: translate(-100%, 100%);

      .option-item:first-of-type {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }
    }
  }
}
