:root {
  --color-title: hsl(0, 0%, 100%);
  --color-primary-light: hsl(220, 98%, 68%);
  --color-primary: hsl(220, 98%, 61%);
  --color-primary-dark: hsl(220, 78%, 51%);
  --color-grad-from: hsl(192, 100%, 67%);
  --color-grad-to: hsl(280, 87%, 65%);
  --highlight: linear-gradient(
    135deg,
    var(--color-grad-from),
    var(--color-grad-to)
  );
  /* --color-open-dark: ; */
  /* --color-open-light: ; */

  --color-red-600: hsl(350, 60%, 40%);
  --color-red-500: hsl(350, 60%, 50%);
  --color-red-400: hsl(350, 60%, 60%);
  --color-red-300: hsl(350, 60%, 70%);
  --color-red-200: hsl(350, 60%, 80%);

  --font-size: 18px;
  --border-radius: 0.25rem;

  color-scheme: light;
}

body {
  --color-dark-600: hsl(0, 0%, 98%);
  --color-dark-500: hsl(0, 0%, 100%);
  --color-dark-400: hsl(236, 33%, 92%);
  --color-dark-300: hsl(233, 11%, 84%);
  --color-dark-200: hsl(236, 9%, 61%);
  --color-light-300: hsl(235, 19%, 35%);
  --color-light-200: hsl(236, 33%, 8%);

  --color-inprogress-light: hsl(165, 71%, 95%);
  --color-inprogress-dark: hsl(165, 31%, 60%);
  --color-blocked-light: hsl(350, 100%, 95%);
  --color-blocked-dark: hsl(350, 60%, 60%);
  --color-done-light: hsl(249, 84%, 95%);
  --color-done-dark: hsl(249, 44%, 60%);

  --drop-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  --drop-shadow-small: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);

  --bg-desktop: url("../images/bg-desktop-light.jpg");
  --bg-mobile: url("../images/bg-mobile-light.jpg");
}

body.dark {
  --color-dark-600: hsl(235, 21%, 11%);
  --color-dark-500: hsl(235, 24%, 19%);
  --color-dark-400: hsl(237, 14%, 26%);
  --color-dark-300: hsl(233, 14%, 35%);
  --color-dark-200: hsl(234, 11%, 52%);
  --color-light-300: hsl(234, 39%, 85%);
  --color-light-200: hsl(236, 33%, 92%);

  --color-inprogress-light: hsl(165, 31%, 60%);
  --color-inprogress-dark: hsl(165, 71%, 95%);
  --color-blocked-light: hsl(350, 60%, 60%);
  --color-blocked-dark: hsl(350, 100%, 95%);
  --color-done-light: hsl(249, 44%, 60%);
  --color-done-dark: hsl(249, 84%, 95%);

  --drop-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  --drop-shadow-small: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

  --bg-desktop: url("../images/bg-desktop-dark.jpg");
  --bg-mobile: url("../images/bg-mobile-dark.jpg");

  color-scheme: dark;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--font-size);
  color: var(--color-light-300);

  background-image: var(--bg-desktop);
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: auto 400px;
  background-color: var(--color-dark-600);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1440px) {
  body {
    background-position: center 0;
    background-size: auto 300px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-position: center -100px;
    background-size: auto 400px;
    background-image: var(--bg-mobile);
  }
}

@media screen and (max-width: 563px) {
  body {
    background-position: center 0;
    background-size: auto 300px;
  }
}

main {
  width: min(540px, 90vw);
  margin: 0 auto;
}

main.card {
  margin: 180px auto 0;
}

footer {
  width: min(540px, 90vw);
  padding: 2rem 0;
  margin: auto auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-dark-300);
}

.hidden {
  display: none !important;
}

a.call-to-action,
a.call-to-action:visited {
  margin: 0 0.5rem;
  text-decoration: none;
  background: var(--highlight);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a.call-to-action:active {
  background: var(--color-primary);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
