:root {
  --color-primary: hsl(220, 98%, 61%);
  --color-grad-from: hsl(192, 100%, 67%);
  --color-grad-to: hsl(280, 87%, 65%);
  --color-dark-600: hsl(235, 21%, 11%);
  --color-dark-500: hsl(235, 24%, 19%);
  --color-dark-400: hsl(237, 14%, 26%);
  --color-dark-300: hsl(233, 14%, 35%);
  --color-dark-200: hsl(234, 11%, 52%);
  --color-light-300: hsl(234, 39%, 85%);
  --color-light-300-20: hsla(234, 39%, 85%, 0.2);
  --color-light-300-50: hsla(234, 39%, 85%, 0.5);
  --color-light-200: hsl(236, 33%, 92%);
  --color-light-100: hsl(240, 100%, 100%);

  /* --color-open-dark: ; */
  /* --color-open-light: ; */
  --color-inprogress-light: hsl(165, 71%, 95%);
  --color-inprogress-dark: hsl(165, 31%, 60%);
  --color-blocked-light: hsl(350, 100%, 95%);
  --color-blocked-dark: hsl(350, 60%, 60%);
  --color-done-light: hsl(249, 84%, 95%);
  --color-done-dark: hsl(249, 44%, 60%);

  --font-size: 18px;

  --border-radius: 0.25rem;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--font-size);
  color: var(--color-light-300);

  background-image: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-color: var(--color-dark-600);
  display: flex;
  flex-direction: column;
}

main {
  width: min(540px, 90vw);
  margin: 0 auto;
}

footer {
  width: min(540px, 90vw);
  padding: 2rem 0;
  margin: auto auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark-300);
}
