input[type="text"],
input[type="password"] {
  background-color: transparent;
  border: none;
  color: var(--color-light-300);
  outline: none;
  color: var(--color-light-300);
  caret-color: var(--color-primary);
}

input[type="text"]::selection,
input[type="password"]::selection {
  background: var(--color-primary);
}

input::placeholder {
  color: var(--color-dark-300);
}

input.text-input {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: var(--color-dark-500);
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  height: 3.5rem;
  padding: 0 1rem;
}
