:root {
  --input-height: 3.5rem;
  --input-margin-bottom: 2rem;
}

input.text-input {
  width: 100%;
  height: var(--input-height);
  margin-bottom: var(--input-margin-bottom);
  padding: 0.2rem 1rem 0;
  border: none;
  outline: none;
  background-color: var(--color-dark-500);
  color: var(--color-light-300);
  caret-color: var(--color-primary-400);
  box-shadow: var(--drop-shadow);
  border-radius: var(--border-radius);

  &::selection {
    background: var(--color-primary-400);
  }

  &::placeholder {
    color: var(--color-dark-300);
  }
}

.password-input-container {
  margin-bottom: var(--input-margin-bottom);
  position: relative;

  input.text-input {
    margin: 0;
    padding-right: var(--input-height);
  }

  .visibility-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    --switch-size: 1.5rem;
    --switch-margin: 0.25rem;
    margin: var(--switch-margin);
    height: calc(var(--input-height) - 2 * var(--switch-margin));
    width: calc(var(--input-height) - 2 * var(--switch-margin));
    padding: calc((var(--input-height) - var(--switch-size) - 2 * var(--switch-margin)) / 2);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    user-select: none;
    cursor: pointer;

    fill: var(--color-dark-200);

    &:hover {
      opacity: 0.75;
      fill: var(--color-light-300);
    }
  }
}
