.home-screen {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-500);
    color: white;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 500;
  }
}
