.signup-screen {
  main.card {
    width: calc(min(540px, 90vw));
    margin: 180px auto 0;
  }

  form {
    .button {
      margin: 0;
      float: right;
    }
  }

  footer {
    width: calc(min(540px, 90vw));
    padding: 2rem 0;
    margin: auto auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-300);
  }
}
