.login-screen {
  main.card {
    width: calc(min(540px, 90vw));
    margin: 180px auto 0;
  }

  form {
    .button {
      margin: 0 0 0 auto;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .error-message {
      color: var(--color-red-400);
    }
  }
}
